/*STYLES FOR THE MAIN PAGE*/

body { 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', Arial;
    font-family: 'Open Sans', sans-serif;
  }

div.container{
    margin-top: 50px;
}

div.app-container{
    margin: auto;
}

/*STYLES FOR THE NEW POST PAGE*/

div.app-post-container{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #d3d3d391;
    margin: auto;
}

div.app-post-container h1{
    padding-top: 20px;
    color: gray;
}

/*STYLES FOR THE ALLPOSTS PAGE*/

div.app-allpost-container{
    background-color: rgba(255, 255, 255, 0.9);
    height: auto;
    min-height: 410px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #d3d3d391;
    margin: auto;
}

div.app-allpost-container h1{
    padding-top: 20px;
    color: gray;
}

div.app-new-post-animation{
    -webkit-animation-name: newPost; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 1.0 - 8.0 */
    animation-name: newPost;
    animation-duration: 1s;
}

@keyframes newPost {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

/*STYLES FOR THE POSTS PAGE*/

div.app-post-box-container{
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #d3d3d391;
}

div.app-post-poststitle{
    color: gray;
}

div.app-post-poststitle h4{
    color: black;
    font-family: 'Open Sans', sans-serif;
}

div.app-post-poststitle p{
    color: gray;
    font-family: 'Quicksand', sans-serif;
}

div.app-post-postsbuttons {
    padding-left: 5px;
    margin-left: 0px;
}

div.app-post-postsbuttons button{
    margin-left: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    line-height: 5px;
    padding-left: 10px;
}
div.app-post-postsbuttons button i{
    font-size: 14px;
    text-align: center;
}




/*
font-family: 'Open Sans', sans-serif; titles
font-family: 'Quicksand', sans-serif; subtitles
*/